.attributionBox {
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(40, 40, 40, 0.7);
  color: #eee;
  font-size: 0.85rem;
  text-align: left;

}
.attributionBox a {
  color: #ccc;
  text-decoration: underline;
}

