/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #B125EA;
  --ifm-color-primary-dark: #9413c9;
  --ifm-color-primary-darker: #7F52FF;;
  --ifm-color-primary-darkest: #591fff;
  --ifm-color-primary-light: #E24462;
  --ifm-color-primary-lighter: #e55a75;
  --ifm-color-primary-lightest: #ef9cac;
  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-background-color: #fff;
  --ifm-card-background-color: #fff;

  --custom-section-color: #efefef;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #B125EA;
  --ifm-color-primary-dark: #9413c9;
  --ifm-color-primary-darker: #7F52FF;;
  --ifm-color-primary-darkest: #591fff;
  --ifm-color-primary-light: #E24462;
  --ifm-color-primary-lighter: #e55a75;
  --ifm-color-primary-lightest: #ef9cac;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-card-background-color: #222;
  --ifm-background-color: #1b1b1d;

  --custom-section-color: #222;
}


.footer--dark {
  --ifm-footer-background-color: #3c2344;
}

.navbar-logo {
  padding-bottom: 0.25em;
}

.header-github-link  {
  margin: 0px 15px;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0c4.42 0 8 3.58 8 8a8.01 8.01 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38c0-.27.01-1.13.01-2.2c0-.75-.25-1.23-.54-1.48c1.78-.2 3.65-.88 3.65-3.95c0-.88-.31-1.59-.82-2.15c.08-.2.36-1.02-.08-2.12c0 0-.67-.22-2.2.82c-.64-.18-1.32-.27-2-.27s-1.36.09-2 .27c-1.53-1.03-2.2-.82-2.2-.82c-.44 1.1-.16 1.92-.08 2.12c-.51.56-.82 1.28-.82 2.15c0 3.06 1.86 3.75 3.64 3.95c-.23.2-.44.55-.51 1.07c-.46.21-1.61.55-2.33-.66c-.15-.24-.6-.83-1.23-.82c-.67.01-.27.38.01.53c.34.19.73.9.82 1.13c.16.45.68 1.31 2.69.94c0 .67.01 1.3.01 1.49c0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  
}

html {
  scroll-behavior: smooth;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
 }