
.navbar {
    position: fixed;
    width: 100%;
    top: var(--ifm-navbar-height);
    z-index: calc(var(--ifm-z-index-fixed) - 1);
    background: rgba(30, 30, 30, 0.55);
    /* Overlay style */
    box-shadow: var(--ifm-navbar-shadow);
    transition: background 0.5s;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

.navItem {
    margin: 0 2rem;
}

.solid {
    background-color: var(--ifm-background-color);
}


.navLink {
    color: var(--ifm-color-secondary);
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: color 0.5s;
}

.navLink:hover {
    color: var(--ifm-color-secondary);
    text-decoration: none;
    border-bottom: 2px solid var(--ifm-color-secondary);
}

.active {
    border-bottom: 2px solid var(--ifm-color-secondary);
}

.solid .navLink {
    color: var(--ifm-color-primary);
}

.solid .navLink:hover {
    color: var(--ifm-color-primary);
    text-decoration: none;
    border-bottom: 3px solid var(--ifm-color-primary);
}

.solid .active {
    border-bottom: 3px solid var(--ifm-color-primary);
}

[data-theme='dark'] .navLink {
    color: var(--ifm-color-secondary);
}

[data-theme='dark'] .solid .navLink:hover {
    color: var(--ifm-color-secondary);
    text-decoration: none;
    border-bottom: 3px solid var(--ifm-color-secondary);
}

[data-theme='dark'] .solid .active {
    border-bottom: 3px solid var(--ifm-color-secondary);
}